@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

/** we need to set the svg of a feather icon to inline, because else the element will have a small space around */
.vue-feather {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.vue-feather svg {
    display: inline;
}