.dark-high-contrast {
  --md-sys-color-primary: rgb(242 253 255);
  --md-sys-color-surface-tint: rgb(130 211 227);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(135 215 231);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(242 253 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(182 207 213);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(252 250 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(192 201 239);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 20 22);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(14 20 22);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(243 252 255);
  --md-sys-color-outline: rgb(195 204 207);
  --md-sys-color-outline-variant: rgb(195 204 207);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 47 54);
  --md-sys-color-primary-fixed: rgb(177 241 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(135 215 231);
  --md-sys-color-on-primary-fixed-variant: rgb(0 26 30);
  --md-sys-color-secondary-fixed: rgb(209 235 241);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(182 207 213);
  --md-sys-color-on-secondary-fixed-variant: rgb(1 25 30);
  --md-sys-color-tertiary-fixed: rgb(225 230 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(192 201 239);
  --md-sys-color-on-tertiary-fixed-variant: rgb(10 21 49);
  --md-sys-color-surface-dim: rgb(14 20 22);
  --md-sys-color-surface-bright: rgb(52 58 60);
  --md-sys-color-surface-container-lowest: rgb(9 15 16);
  --md-sys-color-surface-container-low: rgb(23 29 30);
  --md-sys-color-surface-container: rgb(27 33 34);
  --md-sys-color-surface-container-high: rgb(37 43 44);
  --md-sys-color-surface-container-highest: rgb(48 54 55);
  --md-extended-color-custom-color-color: rgb(251 250 255);
  --md-extended-color-custom-color-on-color: rgb(0 0 0);
  --md-extended-color-custom-color-color-container: rgb(171 205 255);
  --md-extended-color-custom-color-on-color-container: rgb(0 0 0);
}
